<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.horizam.sapid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.horizam.sapid.App"
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tikl"
        android:usesCleartextTraffic="true">
        <activity android:name="com.horizam.sapid.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="sapid.ezlinq.bio"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="sapid.ezlinq.bio"
                    android:scheme="https" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name="com.horizam.sapid.activities.ResetPasswordActivity" />
        <activity android:name="com.horizam.sapid.activities.ForgetPasswordOtpActivity" />
        <activity android:name="com.horizam.sapid.activities.ForgetPasswordEmailActivity" />
        <activity android:name="com.horizam.sapid.activities.MainActivity" />
        <activity android:name="com.horizam.sapid.activities.SignUpActivity" />
        <activity android:name="com.horizam.sapid.activities.UserNameActivity" />
        <activity android:name="com.horizam.sapid.activities.EditProfileActivity" />
        <activity android:name="com.horizam.sapid.activities.QrscanActivity" />
        <activity android:name="com.horizam.sapid.activities.TiklActivity" />
        <activity android:name="com.horizam.sapid.activities.BuyTiklActivity" />
        <activity android:name="com.horizam.sapid.activities.ItemActivity" />
        <activity android:name="com.horizam.sapid.activities.ActivateTiklActivity" />
        <activity android:name="com.horizam.sapid.activities.ActivateActivity" />
        <activity android:name="com.horizam.sapid.activities.HowToTiklActivity" />
        <activity android:name="com.horizam.sapid.activities.WelcomeActivity" />
        <activity android:name="com.horizam.sapid.activities.SignInActivity" />
        <activity android:name="com.horizam.sapid.activities.QrCameraCodeScannerActivity" />

        <service
            android:name="com.horizam.sapid.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Set custom default icon -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_person" /> <!-- Set color used with incoming notification messages -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/app_color" />

    </application>

</manifest>